.content {
  background-color: white;
  min-height: 100vh;
  position: relative;
  &__main {
    padding: 20px 129px;
    .logo {
      text-align: center;
      margin-bottom: 30px;
    }
    .group-1 {
      background-color: #efefef;
      padding: 38px;
      text-align: center;
      margin-bottom: 40px;
      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 18px;
      }
    }
    .card-container {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      .card {
        &__title {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 18px;
        }
        &__body {
          .image {
            float: left;
            margin-right: 16px;
          }
          &__content {

          }
        }
      }
    }
  }
  .footer {
    padding: 30px 129px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #DEDEDE;
    width: 100%;
  }
}
