.sidebar-wrapper {
  position: relative;
  .burger-btn {
    display: none;
    position: absolute;
    z-index: 10;
    img {
      width: 32px;
      height: 32px;
    }
  }
  .sidebar {
    background-color: #191718;
    width: 150px;
    min-height: 100vh;
    &__item {
      color: #aaaaaa;
      padding: 14px 16px 11px;
      text-decoration: none;
      display: block;
      &.active {
        color: #ffffff;
      }
      &:hover {
        color: #ffffff;
        background-color: #5c5c5c;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    &.active {
      .sidebar {
        display: block;
      }
      .burger-btn {
        display: none;
      }
    }
    .sidebar {
      display: none;
    }
    .burger-btn {
      display: block;
    }
  }
}
